html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
}

#container {
  padding: 10px 5px;
  height: 90%;
  width: 80%;
  min-width: 420px;
  max-width: 900px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
